* {
    font-family: 'Montserrat', sans-serif;
}



.nav-menu{
  padding-right: 150px;
  font-size: 24px;
}
.logo-menu{
  width: 70px; 
  height: 60px;
  margin-left: 150px;
}

.menu-link a{
  color: white;
  text-decoration: none;
}
.menu-link:hover{
  font-size: 28px;
  border-bottom: 1px solid white;
}

.carousel {
  border: 1px solid black;
} 


.rodape-caixa{
    padding-top: 8px;
    padding-bottom: none;
  }
  
  .logo-rodape{
    font-size: 40px;
    padding-bottom: 15px;
  }
  
  .texto-rodape{
    padding-bottom: 5px;
  }


  /*DAQUI PRA BAIXO EH DOS POSTS*/

  body{
    height: 100vh;
  }

body img{
  height: 200px;
  width: 400px;
  border-radius: 8px 8px 0 0;
}

.container-post{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    gap: 30px;
    align-content: center;
    margin: 30px auto;
    width: 62.5rem;
}


.cards{
    width: 400px;
    height: 305px;
    border-radius: 8px;
    background-color: rgba(186, 173, 245, 0.301);
    margin: 10px auto;
    transition: 300ms linear; 
    animation: normal;
}


.titulo{
    color: black;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.cards:hover{
    transform: scale(1.1);
    box-shadow: 10px 5px 5px rgba(204, 135, 158, 0.349);
    opacity: 0.6;
}

.titulo-pag{
  display: inline;
  width: 50%;
  text-align: center;
  padding-top: 2em;
}

.titulo-pag h1{
  margin-top: 0.5em;
}

.titulo-pag hr{
  text-align: center;
}

a{
  text-decoration: none;
}


footer a{
    
  color: white;
}




@media (max-width: 480px){

  body{
    margin: 0;
    padding: 0;
  }

  main{
      margin: 0;
      padding: 0;
    }
  

  .container-topo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: none;
    position: sticky;
    width: 100vh;
  }

  
  
  .logo-menu{
    display: none;
  }
  .nav-menu{
    display: block;
    padding: none;
  }

  .container-post{
    width: 90vw;
    display: block;
    align-items: center;
    padding: none;
    position: sticky;
    height: auto;
    margin: none;
  }
  .container-post img{
    width: 90vw;
  }

  .cards{
    width: 90vw;
  }

}