@import url(../css/contato.css);

article img{
    width: 1000px;
    text-align: center;
}

.container-publi{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1000px;
    margin: 1em auto;
}


.sub-titulo{
    font-size: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.img-post {
    height: 250px;
    margin-bottom: 1em;
}

footer a{
    
    color: white;
}

.tab{
    margin-left: 1em;
}

.tabela1{
    border: 1px solid black;
    background: #F0FFF0;
    width: 250px;
    align-items: center;
    text-align: center;
}

.tabela1 td{
    border: 1px solid rgb(0, 0, 0);
}

.negrito{
    font-weight: bold;
}

.tit{
    font-weight: bold;
}

.sub{
    font-weight: bold;
}