* {
    font-family: 'Montserrat', sans-serif;
}








.nav-menu{
  padding-right: 150px;
  font-size: 24px;
}
.logo-menu{
  width: 70px; 
  height: 60px;
  margin-left: 150px;
}

.menu-link a{
  color: white;
  text-decoration: none;
}
.menu-link:hover{
  font-size: 28px;
  border-bottom: 1px solid white;
}

.carousel {
  border: 1px solid black;
} 

.botao-card{
  padding-top: 80px;
}


.rodape-caixa{
  padding-top: 8px;
  padding-bottom: none;
}

.logo-rodape{
  font-size: 40px;
  padding-bottom: 15px;
}
.texto-rodape{
  padding-bottom: 5px;
}

.isa{
    width: 600px;
    display: flex;
    margin: 20px 200px 20px 20px;
}
.isa img{
    /*display: table-cell;*/
    float: left;
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.titulo-sobre{
text-align: center;
margin-top: 10px;
}

.texto1 p{
    display: table-cell;
    float: left;
    width: 400px;
    margin-left: 20px;
}

.pepe{
  display: flex;
  justify-content: flex-end;
}

.pepe img{
  display: table-cell;
  float: right;
  width: 350px;
  height: 350px;
  margin-right: 20px;
  border-radius: 10px;
}

.pepe p{
  display: table-cell;
  float: left;
  width: 400px;
  height: 400px;
}


.container-sobre{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  background-color: rgba(121, 75, 230, 0.199);
  margin: 20px auto;
  border-radius: 10px;
}

footer a{
    
  color: white;
}